<div id="mainbox" class="mainbox">
		<div id="box" class="box">
			<div class="box1">
				<span class="span1"><b>Burger King</b></span>
				<span class="span2"><b>Bagutterian</b></span>
				<span class="span3"><b>Cafét</b></span>
				<span class="span4"><b>Coop</b></span>
                //<span class="span1"><b>Seaside</b></span>
				//<span class="span2"><b>Subway</b></span>
				//<span class="span3"><b>Sushi Vimi</b></span>
				//<span class="span4"><b>Taj Mahal</b></span>

			<div class="box2">
				<span class="span1"><b>Golden Lee</b></span>
				<span class="span2"><b>Jättebegutten</b></span>
				<span class="span3"><b>Le pain</b></span>
				<span class="span4"><b>Pita</b></span>
                //<span class="span1"><b>Picadeli</b></span>
				//<span class="span2"><b>Wasa Pizza</b></span>
				//<span class="span3"><b>/-eleven</b></span>
				//<span class="span4"><b>Sandwichey</b></span>


		<button class="spin" onclick="myfunction()">SPIN</button>

